<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softwareengineering.temperaturecms.dao.RoomStatusMapper">
  <resultMap id="BaseResultMap" type="com.softwareengineering.temperaturecms.pojo.RoomStatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="current_temperature" jdbcType="DOUBLE" property="currentTemperature" />
    <result column="target_temperature" jdbcType="DOUBLE" property="targetTemperature" />
    <result column="fans_speed" jdbcType="DOUBLE" property="fansSpeed" />
    <result column="fare_rate" jdbcType="DOUBLE" property="fareRate" />
    <result column="start_up" jdbcType="BIGINT" property="startUp" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="end_time" jdbcType="BIGINT" property="endTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="on_off_time" jdbcType="INTEGER" property="onOffTime" />
    <result column="dispatch_times" jdbcType="INTEGER" property="dispatchTimes" />
    <result column="rdr_num" jdbcType="INTEGER" property="rdrNum" />
    <result column="change_temp_time" jdbcType="INTEGER" property="changeTempTime" />
    <result column="change_speed_time" jdbcType="INTEGER" property="changeSpeedTime" />
    <result column="fee" jdbcType="DOUBLE" property="fee" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="current_fans_speed" jdbcType="DOUBLE" property="currentFansSpeed" />
    <result column="last_work_time" jdbcType="BIGINT" property="lastWorkTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, room_id, current_temperature, target_temperature, fans_speed, fare_rate, start_up, 
    mode, end_time, state, on_off_time, dispatch_times, rdr_num, change_temp_time, change_speed_time, 
    fee, duration, current_fans_speed, last_work_time
  </sql>
  <select id="selectByExample" parameterType="com.softwareengineering.temperaturecms.pojo.RoomStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.softwareengineering.temperaturecms.pojo.RoomStatusExample">
    delete from room_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.softwareengineering.temperaturecms.pojo.RoomStatus" useGeneratedKeys="true" keyProperty="id">
    insert into room_status (id, room_id, current_temperature, 
      target_temperature, fans_speed, fare_rate, 
      start_up, mode, end_time, 
      state, on_off_time, dispatch_times, 
      rdr_num, change_temp_time, change_speed_time, 
      fee, duration, current_fans_speed, 
      last_work_time)
    values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=BIGINT}, #{currentTemperature,jdbcType=DOUBLE}, 
      #{targetTemperature,jdbcType=DOUBLE}, #{fansSpeed,jdbcType=DOUBLE}, #{fareRate,jdbcType=DOUBLE}, 
      #{startUp,jdbcType=BIGINT}, #{mode,jdbcType=INTEGER}, #{endTime,jdbcType=BIGINT}, 
      #{state,jdbcType=INTEGER}, #{onOffTime,jdbcType=INTEGER}, #{dispatchTimes,jdbcType=INTEGER}, 
      #{rdrNum,jdbcType=INTEGER}, #{changeTempTime,jdbcType=INTEGER}, #{changeSpeedTime,jdbcType=INTEGER}, 
      #{fee,jdbcType=DOUBLE}, #{duration,jdbcType=BIGINT}, #{currentFansSpeed,jdbcType=DOUBLE}, 
      #{lastWorkTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.softwareengineering.temperaturecms.pojo.RoomStatus" useGeneratedKeys="true" keyProperty="id">
    insert into room_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="currentTemperature != null">
        current_temperature,
      </if>
      <if test="targetTemperature != null">
        target_temperature,
      </if>
      <if test="fansSpeed != null">
        fans_speed,
      </if>
      <if test="fareRate != null">
        fare_rate,
      </if>
      <if test="startUp != null">
        start_up,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="onOffTime != null">
        on_off_time,
      </if>
      <if test="dispatchTimes != null">
        dispatch_times,
      </if>
      <if test="rdrNum != null">
        rdr_num,
      </if>
      <if test="changeTempTime != null">
        change_temp_time,
      </if>
      <if test="changeSpeedTime != null">
        change_speed_time,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="currentFansSpeed != null">
        current_fans_speed,
      </if>
      <if test="lastWorkTime != null">
        last_work_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="currentTemperature != null">
        #{currentTemperature,jdbcType=DOUBLE},
      </if>
      <if test="targetTemperature != null">
        #{targetTemperature,jdbcType=DOUBLE},
      </if>
      <if test="fansSpeed != null">
        #{fansSpeed,jdbcType=DOUBLE},
      </if>
      <if test="fareRate != null">
        #{fareRate,jdbcType=DOUBLE},
      </if>
      <if test="startUp != null">
        #{startUp,jdbcType=BIGINT},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="onOffTime != null">
        #{onOffTime,jdbcType=INTEGER},
      </if>
      <if test="dispatchTimes != null">
        #{dispatchTimes,jdbcType=INTEGER},
      </if>
      <if test="rdrNum != null">
        #{rdrNum,jdbcType=INTEGER},
      </if>
      <if test="changeTempTime != null">
        #{changeTempTime,jdbcType=INTEGER},
      </if>
      <if test="changeSpeedTime != null">
        #{changeSpeedTime,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DOUBLE},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="currentFansSpeed != null">
        #{currentFansSpeed,jdbcType=DOUBLE},
      </if>
      <if test="lastWorkTime != null">
        #{lastWorkTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.softwareengineering.temperaturecms.pojo.RoomStatusExample" resultType="java.lang.Long">
    select count(*) from room_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update room_status
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=BIGINT},
      </if>
      <if test="record.currentTemperature != null">
        current_temperature = #{record.currentTemperature,jdbcType=DOUBLE},
      </if>
      <if test="record.targetTemperature != null">
        target_temperature = #{record.targetTemperature,jdbcType=DOUBLE},
      </if>
      <if test="record.fansSpeed != null">
        fans_speed = #{record.fansSpeed,jdbcType=DOUBLE},
      </if>
      <if test="record.fareRate != null">
        fare_rate = #{record.fareRate,jdbcType=DOUBLE},
      </if>
      <if test="record.startUp != null">
        start_up = #{record.startUp,jdbcType=BIGINT},
      </if>
      <if test="record.mode != null">
        mode = #{record.mode,jdbcType=INTEGER},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=BIGINT},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.onOffTime != null">
        on_off_time = #{record.onOffTime,jdbcType=INTEGER},
      </if>
      <if test="record.dispatchTimes != null">
        dispatch_times = #{record.dispatchTimes,jdbcType=INTEGER},
      </if>
      <if test="record.rdrNum != null">
        rdr_num = #{record.rdrNum,jdbcType=INTEGER},
      </if>
      <if test="record.changeTempTime != null">
        change_temp_time = #{record.changeTempTime,jdbcType=INTEGER},
      </if>
      <if test="record.changeSpeedTime != null">
        change_speed_time = #{record.changeSpeedTime,jdbcType=INTEGER},
      </if>
      <if test="record.fee != null">
        fee = #{record.fee,jdbcType=DOUBLE},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration,jdbcType=BIGINT},
      </if>
      <if test="record.currentFansSpeed != null">
        current_fans_speed = #{record.currentFansSpeed,jdbcType=DOUBLE},
      </if>
      <if test="record.lastWorkTime != null">
        last_work_time = #{record.lastWorkTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update room_status
    set id = #{record.id,jdbcType=INTEGER},
      room_id = #{record.roomId,jdbcType=BIGINT},
      current_temperature = #{record.currentTemperature,jdbcType=DOUBLE},
      target_temperature = #{record.targetTemperature,jdbcType=DOUBLE},
      fans_speed = #{record.fansSpeed,jdbcType=DOUBLE},
      fare_rate = #{record.fareRate,jdbcType=DOUBLE},
      start_up = #{record.startUp,jdbcType=BIGINT},
      mode = #{record.mode,jdbcType=INTEGER},
      end_time = #{record.endTime,jdbcType=BIGINT},
      state = #{record.state,jdbcType=INTEGER},
      on_off_time = #{record.onOffTime,jdbcType=INTEGER},
      dispatch_times = #{record.dispatchTimes,jdbcType=INTEGER},
      rdr_num = #{record.rdrNum,jdbcType=INTEGER},
      change_temp_time = #{record.changeTempTime,jdbcType=INTEGER},
      change_speed_time = #{record.changeSpeedTime,jdbcType=INTEGER},
      fee = #{record.fee,jdbcType=DOUBLE},
      duration = #{record.duration,jdbcType=BIGINT},
      current_fans_speed = #{record.currentFansSpeed,jdbcType=DOUBLE},
      last_work_time = #{record.lastWorkTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.softwareengineering.temperaturecms.pojo.RoomStatus">
    update room_status
    <set>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="currentTemperature != null">
        current_temperature = #{currentTemperature,jdbcType=DOUBLE},
      </if>
      <if test="targetTemperature != null">
        target_temperature = #{targetTemperature,jdbcType=DOUBLE},
      </if>
      <if test="fansSpeed != null">
        fans_speed = #{fansSpeed,jdbcType=DOUBLE},
      </if>
      <if test="fareRate != null">
        fare_rate = #{fareRate,jdbcType=DOUBLE},
      </if>
      <if test="startUp != null">
        start_up = #{startUp,jdbcType=BIGINT},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="onOffTime != null">
        on_off_time = #{onOffTime,jdbcType=INTEGER},
      </if>
      <if test="dispatchTimes != null">
        dispatch_times = #{dispatchTimes,jdbcType=INTEGER},
      </if>
      <if test="rdrNum != null">
        rdr_num = #{rdrNum,jdbcType=INTEGER},
      </if>
      <if test="changeTempTime != null">
        change_temp_time = #{changeTempTime,jdbcType=INTEGER},
      </if>
      <if test="changeSpeedTime != null">
        change_speed_time = #{changeSpeedTime,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DOUBLE},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=BIGINT},
      </if>
      <if test="currentFansSpeed != null">
        current_fans_speed = #{currentFansSpeed,jdbcType=DOUBLE},
      </if>
      <if test="lastWorkTime != null">
        last_work_time = #{lastWorkTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.softwareengineering.temperaturecms.pojo.RoomStatus">
    update room_status
    set room_id = #{roomId,jdbcType=BIGINT},
      current_temperature = #{currentTemperature,jdbcType=DOUBLE},
      target_temperature = #{targetTemperature,jdbcType=DOUBLE},
      fans_speed = #{fansSpeed,jdbcType=DOUBLE},
      fare_rate = #{fareRate,jdbcType=DOUBLE},
      start_up = #{startUp,jdbcType=BIGINT},
      mode = #{mode,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      on_off_time = #{onOffTime,jdbcType=INTEGER},
      dispatch_times = #{dispatchTimes,jdbcType=INTEGER},
      rdr_num = #{rdrNum,jdbcType=INTEGER},
      change_temp_time = #{changeTempTime,jdbcType=INTEGER},
      change_speed_time = #{changeSpeedTime,jdbcType=INTEGER},
      fee = #{fee,jdbcType=DOUBLE},
      duration = #{duration,jdbcType=BIGINT},
      current_fans_speed = #{currentFansSpeed,jdbcType=DOUBLE},
      last_work_time = #{lastWorkTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>